*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}
/* start nav bar */
.container{
    width: 100%;
    height: 110px;
    background-color: #2F2B47;
    display: flex;
    justify-content: space-between;
}
.nav-left{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.nav-right{
    width: 40%;
    height: 100%;
    padding-right: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.img-nav{
    width: 100%;
    height: auto;
}
.img-place{
    width: 100%;
    height: 200px;
    background-color: gray;
}

/* end of nav bar */


/* Index start */
.lower-body{
    display: flex;
    flex-direction: row;
    height: 747px;
    width: 100%;
}
.lower-body-left{
    width: 30%;
    height: 747px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 0.2%;
    height: 100%;
    background-color: rgba(162, 162, 162, 0.23);
    border-radius: 10%;
}
.lower-body-right{
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-line{
    width: 95%;
    height: 0.5%;
    background-color: rgba(162, 162, 162, 0.459);
    border-radius: 10%;
}
.upper{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lower{
    height: 88%;
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.filter-box{
    width: 98%;
    height: 130px;
    background-color: rgb(195, 195, 195);
}
.middle-lower-body{
    width: 85%;
    height: 80%;
    background-color: rgba(218, 218, 218, 0.449);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.left-middle-lower-body{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(81, 81, 81, 0.393);
}
.right-lower-body-box{
    width: 30%;
    height: 100%;
    flex-direction: row;
    flex-direction: end;

}
.button-see-more-index{
    width: 100px;
    height: 40px;
    background-color: rgba(81, 81, 81, 0.393);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10    px;
    margin-left: 50%;
}
.space{
    height: 88.3%;
    width: 100%;
}
/* index end */

/* over ons begin*/
.center{
    height: 1000px;
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-direction: column;
    align-items: center;
}
.black{
    width: 900px;
    height: 110%;
    margin-bottom: 100px;
    text-align: center;
}
.extra-line{
    width: 200px;
    height: 5px;
    background-color: rgba(218, 218, 218, 0.449);
    margin-left: 39%;
    margin-right: 50%;
}
/* over ons einde */
/* Contact begin */
.contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.left-filter-box{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}
.right-filter-box{
    width: 30%;
    height: 100%;
    background-color: black;
}
/* contact einde */