*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0d0d0d;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
p {
    text-decoration: none;
    color: #0d0d0d;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}
h1 {
    text-decoration: none;
    color: #0d0d0d;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}
/* start nav bar */
.container{
    width: 100%;
    height: 110px;
    background-color: #2F2B47;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
        height: 70px;
        background-color: #2F2B47;
        display: flex;
        justify-content: space-between;
    }
}
.container-login-register{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 25px;
}
@media only screen and (max-width: 768px) {
    .container-login-register{
        display: flex;
        width: 20%;
        flex-direction: row;
        gap: 5px;
    }
}
.nav-left{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
@media only screen and (max-width: 768px) {
    .nav-left{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
}
.nav-middle{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.nav-right-text{
    color: black;
    /* test */
}
.nav-right-login{
    background-color: #003585;
    display: flex;
    width: 125px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.nav-right-register{
    background-color: #003585;
    display: flex;
    width: 125px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.img-nav{
    width: 100%;
    height: auto;
}
.img-place{
    width: 100%;
    height: 200px;
    
}
@media only screen and (max-width: 768px) {
    .img-place{
        width: 100%;
        height: 100px;
        
    }
}

.universalimage{
    width: 100%;
    height: 200px;
}

/* end of nav bar */
/* start van user dashboard -deniz*/
/* User Dashboard styles */
.container-user-dashboard {
    background-color: #2F2B47;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 100%;
}

.container-text-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 15px;
}

.text-header-user-dashboard {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

/* Top part styles */
.top-part-container-index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-top: 20px;
}

.top-part-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.top-part-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.top-part-right-image {
    width: 400px;
    height: auto;
}

.top-part-right-text-above-image {
    color: #FF0000;
    font-size: 25px;
}

.text-ideale-vakantie {
    font-size: 60px;
    font-weight: bold;
    color: #003789;
}

.zoek-button-text {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.zoeken-index {
    display: flex;
    height: 60px;
    width: 175px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
    background-color: #003789;
    cursor: pointer;
}

/* Middle banner styles */
.middle-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #00294C;
}

.text-middle-banner {
    font-size: 50px;
    color: white;
}

/* Under part styles */
.container-under-part-pressable-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    gap: 100px;
    margin-top: 20px;
}

.box-index {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.underbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: #00294C;
}

.text-image-box-under {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.image-homepage {
    display: flex;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
/* end of middle banner */
/* Index start */
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}
.lower-body{
    display: flex;
    flex-direction: row;
    height: 747px;
    width: 100%;
}
.lower-body-left{
    width: 30%;
    height: 747px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 0.2%;
    height: 100%;
    background-color: rgba(162, 162, 162, 0.23);
    border-radius: 10%;
}
.lower-body-right{
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-line{
    width: 95%;
    height: 0.5%;
    background-color: rgba(162, 162, 162, 0.23);
    border-radius: 10%;
}
.upper{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lower{
    height: 88%;
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.filter-box{
    width: 98%;
    height: 130px;
    background-color: rgb(195, 195, 195);
}
.middle-lower-body{
    width: 85%;
    height: 80%;
    background-color: rgba(218, 218, 218, 0.449);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.left-middle-lower-body{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(81, 81, 81, 0.393);
}
.right-lower-body-box{
    width: 30%;
    height: 100%;
    flex-direction: row;
    flex-direction: end;

}
.button-see-more-index{
    width: 100px;
    height: 40px;
    background-color: rgba(81, 81, 81, 0.393);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-left: 50%;
}
.space{
    height: 88.3%;
    width: 100%;
}
/* index end */

/* over ons begin*/
/* .center{
    height: 1000px;
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-direction: column;
    align-items: center;
}
.black{
    width: 900px;
    height: 800px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.black2{
    width: 900px;
    height: 700px;
    text-align: center;
    justify-content: center;
    align-items: center;
} */
.over-ons-bedrijf-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.over-ons-bedrijf-titel{
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 15%;
    justify-content: center;
    align-items: center;
}
.extra-line-container{
    display: flex;
    width: 90%;
    height: 10%;
    justify-content: center;
    align-items: center;
}
.extra-line{
    width: 50%;
    height: 50%;
    background-color: rgba(218, 218, 218, 0.449);
}
.over-ons-bedrijf-tekst{
    display: flex;
    height: 70%;
    width: 80%;
    justify-content: center;
    align-items: center;
}
/* over ons einde */
/* Contact begin */
.contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.left-filter-box{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}
.right-filter-box{
    width: 30%;
    height: 100%;
    background-color: black;
}
/* contact einde */

/* Login begin */
/* achtergrond voor login */
.background-img-container {
    display: flex;
    width: 100%;
    height: 100%;
    background: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-image: url("hier komt de link van de afbeelding"); */
}

.background-img {
    display: flex;
    height: 100%;
    width: 100%
}

/* hier begint form login */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login-container {
    display: flex;
    width: 60%;
    height: 60%;
    background-color: #d5d2e7;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-extra {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    justify-content: space-between;
    align-items: center;
}

.button-log {
    display: flex;
    height: 50px;
    width: 250px;
    background-color: #6c7299;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.username-log {
    display: flex;
    height: 50px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
}

.password-log {
    display: flex;
    height: 50px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
}


/* Login einde */

/* logo universal */
.logo{
    width: 125px;
    height: 125px;
}
.logo-text{
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    color: white;
}
/* index search-bar and other shizzle -deniz */
 .search-bar-container{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    align-items: center;
    gap: 100px;
}
.search-bar{
    display: flex;
    background-color: whitesmoke;
    border-radius: 200px;
    width: 600px;
    height: 75px;
}
.search-bar-text{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: gray;
}
.ticketsonsale{
    display: flex;
    width: 200px;
    height: 200px;
}
/* hier begint dashboard ADMIN */
/* General styles */
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1, h2, p {
    color: #333;
}

/* Main dashboard styles */
.dashboard {
    padding: 20px;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.stat {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
}

.stat h2 {
    margin: 0;
    font-size: 1.5em;
}

.stat p {
    font-size: 2em;
    margin: 10px 0 0;
}

/* Form styles */
.form-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.form-extra {
    display: flex;
    flex-direction: column;
}

.form-extra label p {
    margin: 0 0 5px;
}

.form-extra input[type="text"],
.form-extra input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form-extra .button-log {
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
}

.form-extra .button-log:hover {
    background-color: #555;
}

/* hier begint dashboard ADMIN */